<header class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1><a 
          class="nav-link"
          routerLink="/search" 
          routerLinkActive="active" 
          ariaCurrentWhenActive="page"
          >bus-book</a></h1>
      </div>
      <div class="col">
        <nav>
          <ul class="nav">
            <li class="nav-item">
            <a 
            class="nav-link"
            routerLink="/search" 
            routerLinkActive="active" 
            ariaCurrentWhenActive="page"
            >Home</a>
            </li>
            <li>
            <a 
            class="nav-link"
            routerLink="/search" 
            routerLinkActive="active" 
            ariaCurrentWhenActive="page"
            >search</a>
            </li>
            <li>
              <a 
              class="nav-link"
              routerLink="/login" 
              routerLinkActive="active" 
              ariaCurrentWhenActive="page"
              >login</a>
              </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<main><router-outlet /></main>
